nav {
  display: flex;
  height: 8%;
  align-items: center;
  justify-content: space-between;
  background: var(--beige);
  padding: 20px 80px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}

#navbar li a {
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 570;
  color: var(--coffeecolor);
  transition: 0.3s ease-in-out;
}

#navbar li a::after {
  content: "";
  width: 0;
  height: 3px;
  background: var(--coffeecolor);
  position: absolute;
  bottom: -2px;
  left: 20px;
  margin: auto;
}

#navbar li a:hover::after,
#navbar li a.active::after {
  width: 66%;
  transition: width 0.3s ease;
}

#mobile {
  display: none;
}

#mobile i {
  color: black;
}

.stickpoint{
  position: sticky;
  top: 0;
  
}

@media screen and (max-width: 769px) {
  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 8%;
    right: -300px;
    width: 300px;
    height: 100vh;
    background: var(--beige);
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.2);
    padding: 40px 0 0 10px;
    transition: 0.3s ease-in-out;
  }

  #navbar.active {
    right: 0px;
  }

  #navbar li {
    margin-bottom: 25px;
  }

  #mobile {
    display: block;
  }

  #mobile i {
    font-size: 24px;
    cursor: pointer;
  }
}
